header {
    background: beige;
    font-weight: bold;
}

aside, article {
    display: inline-block;
}

aside {
    width: 12em;
    background: antiquewhite;
}

article {
    position: absolute;
    background: aliceblue;
    padding: 0.5em 2em;
}

#patch_choice, #unknown, #file_output {
    display: none;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}
