body {
    font-family: sans-serif;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: background 0.5s;
    padding: 0 0.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 110%;
}

#loading_screen {
    z-index: 100;
}

#patch_screen, #error_screen {
    display: none;
}

#file_screen.drag {
    background: #f0feff;
}

#file_input {
    display: none;
}

#file_icon {
    height: 40vh;
    margin: 1em;
}

label {
    cursor: pointer;
}

label[for="file_input"] {
    display: block;
    border: 1px solid dodgerblue;
    background: aliceblue;
    padding: 0.5em;
    margin: 0.5em;
}

header, footer {
    z-index: 10;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    background: lightgoldenrodyellow;
    padding: 0.5em;
    font-size: 110%;
    font-weight: normal;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    font-size: 110%;
    background: rgba(0, 0, 0, 0.05);
}

footer img {
    height: 1em;
    display: inline-block;
    margin-bottom: -0.1em;
}

button {
    border: 1px solid black;
    border-radius: 0;
    padding: 0.5em;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

button:focus, label[for="file_input"]:focus {
    outline-color: black;
    outline-style: solid;
    outline-offset: 1px;
}

#patch_window, #error_window {
    padding: 1em;
    border: 1px solid black;
}

#patch_window > p:first-child {
    margin-top: 0;
}

#patch_title {
    font-weight: bold;
    font-size: 110%;
}

#patch_checkbox_container {
    min-height: 6em;
    max-height: 40vh;
    overflow-y: scroll;
    padding: 0.5em 0;
    margin: 0 0.5em;
}

#patch_checkbox_container > label {
    display: inline-block;
    vertical-align: top;
    max-width: 25em;
    padding-right: 0.25em;
    margin-bottom: 0.25em;
}

.checkbox_title {
    text-decoration: underline;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.button_container > button {
    width: 7em;
}

.button_container > button:first-child {
    margin-right: 1em;
}

#patch_button {
    border: 1px solid forestgreen;
    background: lightgreen;
}

#error_window {
    min-width: 15em;
    max-width: 30em;
}

#error_window > div {
    display: none;
}

#error_window > .button_container {
    display: block;
}

.error {
    color: red;
}


#main_window {
    width: 35em;
    border: 1px solid black;
    padding: 1em;
}

#game_container {
    height: 70vh;
    overflow-y: scroll;
}

.game_title, .library_title {
    padding: 0.5em;
    margin: 0;
}

.game_title {
    background: lightgray;
    border: 1px solid darkgray;
    cursor: pointer;
}

.library_title {
    background: gray;
    border: 1px solid black;
}

.library_container, .patch_container {
    margin-left: 1em;
}

.game_title + .library_container {
    display: none;
}

.game_title.open + .library_container {
    display: block;
}

.patch_description {
    margin-top: 0;
}

.patch_title > h4 {
    margin-bottom: 0.5em;
}

.patch_title > h4:first-child, .missing_notice {
    margin-top: 0;
}
